<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inbound Links</title>
</head>
<body>

<h1>Inbound Links</h1>

<form action="/inlinks" method="get">
    <label>URL:</label>
    <input type="text" name="url" required>
    <button type="submit">Consultar</button>
</form>

<div th:if="${links}">
    <h2>Resultados para <span th:text="${url}"></span>:</h2>
    <ul>
        <li th:each="l : ${links}" th:text="${l}"></li>
    </ul>
</div>

<a href="/">Voltar</a>

</body>
</html>